html {
  font-family: Uchen,sans-serif;
  background-image: url(3501127.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.Welcome {
  color: white;
  text-align: center;
}

.Welcome2 {
  color: white;
  text-align: center;
  position: relative;
  top: -37px;
}

.bottom {
  color: white;
  text-align: center;
  position:  relative ;
  top: 700px;
}

.nav {
  background-color: white;
  width: 230px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 550px;
}

.nav ul {
  color: black;
  list-style-type: none;
  overflow: hidden;

}

.nav li {
  text-decoration: underline;
  float: left;
  padding: 10px;
  border: 2px solid black;
}

.nav li:hover {
  text-shadow: 0px 0px 10px black;
}
