html {
  font-family: Uchen,sans-serif;
  background-image: url(3501127.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.Welcome {
  color: white;
  text-align: center;
}

.Welcome2 {
  color: white;
  text-align: center;
  position: relative;
  top: -37px;
}

.bottom {
  color: white;
  text-align: center;
  position:  relative ;
  top: 700px;
}
